/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #151515;
    color: #EFEFEF;
}

/* Container Layout */
.container {
    display: flex;
    min-height: 100vh;
    background-color: #151515;
}

.left-section {
    flex: 2; /* This replaces width: 66% */
    background: linear-gradient(135deg, #9BBEE1, #268AD7, #1A3B53, #151515);
    color: #EFEFEF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.right-section {
    flex: 1; /* This replaces width: 34% */
    background-color: #151515;
    color: #EFEFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center the contents vertically */
    padding: 50px;
}

.logo {
    width: 200px;
    padding-bottom: 20px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 300px;
}

input {
    padding: 15px;
    border-radius: 15px;
    background-color: #151515;
    border: 1px solid #989898;
    outline: none;
    transition: background-color 0.8s;
}

input:hover {
    background-color: #202020;
}

input, select, textarea {
    color:#EFEFEF
}

button {
    background-color: #268AD7;
    color: #EFEFEF;
    border: none;
    padding: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.8s;
}

button:hover {
    background-color: #005bb5;
}

/* Small Text / Links */
.terms, .toggle-form {
    font-size: 0.7em;
    color: #EFEFEF;
}

.terms {
    margin-bottom: 0px;
}

.toggle-form a {
    color: #0077ff;
    text-decoration: none;
}

.toggle-form a:hover {
    text-decoration: underline;
}

/* Headings and Paragraphs */
h2 {
    margin-right: 115px;
    margin-bottom: 5px;
}

p {
    padding-bottom: 10px;
    font-size: small;
}

p2 {
    margin-bottom: 10px;
    font-size: small;
}

.forgot-password {
    font-size: x-small;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    gap: 20%;
    margin-left: 5%;
    margin-right: 5%;
}

nav a {
    color: #151515;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    transition: .5s;
}

nav a:hover {
    color: #EFEFEF;
}
.slogan h1 {
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 0px;
}
.slogan h2 {
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 0px;

    background-image: linear-gradient(
      -225deg,
      #ff5c8d 0%, /* Pink */
      #ff5cb0 20%, /* Light Pink */
      #4e80ff 40%, /* Blue */
      #39b7c5 60%, /* Teal */
      #1dff8a 80%, /* Green */
      #faff5c 100% /* Yellow */
    );
    background-size: 600% 600%; /* Large spread for vibrant, flowing effect */
    background-clip: text;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 6s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

